[submodule "stylesheets"]
	path = stylesheets
	url = https://github.com/Delawen/stylesheets.git
[submodule "siglibre"]
	path = siglibre
	url = https://github.com/Delawen/siglibre.git
[submodule "geotalleres"]
	path = geotalleres
	url = https://github.com/Delawen/geotalleres.git
[submodule "Taller-GIS"]
	path = Taller-GIS
	url = https://github.com/Delawen/Taller-GIS.git
[submodule "taller-geonetwork"]
	path = taller-geonetwork
	url = https://github.com/Delawen/taller-geonetwork.git
[submodule "geonetwork-technical"]
	path = geonetwork-technical
	url = https://github.com/Delawen/geonetwork-technical.git
[submodule "introduccion-gis"]
	path = introduccion-gis
	url = https://github.com/Delawen/introduccion-gis.git
[submodule "geopackage-presentation"]
	path = geopackage-presentation
	url = https://github.com/Delawen/geopackage-presentation.git
[submodule "reveal"]
	path = reveal
	url = https://github.com/hakimel/reveal.js.git
