[submodule "stylesheets"]
	path = static/stylesheets
	url = https://github.com/Delawen/stylesheets.git
[submodule "siglibre"]
	path = static/siglibre
	url = https://github.com/Delawen/siglibre.git
[submodule "Taller-GIS"]
	path = static/Taller-GIS
	url = https://github.com/Delawen/Taller-GIS.git
[submodule "geonetwork-technical"]
	path = static/geonetwork-technical
	url = https://github.com/Delawen/geonetwork-technical.git
[submodule "introduccion-gis"]
	path = static/introduccion-gis
	url = https://github.com/Delawen/introduccion-gis.git
[submodule "geopackage-presentation"]
	path = static/geopackage-presentation
	url = https://github.com/Delawen/geopackage-presentation.git
[submodule "reveal"]
	path = static/reveal
	url = https://github.com/hakimel/reveal.js.git
