[submodule "2014/geoNetwork3"]
	path = 2014/geoNetwork3
	url = https://github.com/Delawen/geoNetwork3.git
[submodule "2014/geocat-live"]
	path = 2014/geocat-live
	url = https://github.com/Delawen/geocat-live.git
[submodule "2014/editores-de-metadatos"]
	path = 2014/editores-de-metadatos
	url = https://github.com/Delawen/editores-de-metadatos.git
[submodule "2014/code-combat"]
	path = 2014/code-combat
	url = https://github.com/Delawen/codeCombat-LeafletOpenLayers.git
[submodule "2014/panorama-siglibre"]
	path = 2014/panorama-siglibre
	url = https://github.com/OSGeo-ES/panorama-siglibre8.git
[submodule "2012/routing"]
	path = 2012/routing
	url = https://github.com/Delawen/Taller-Routing.git
[submodule "reveal"]
	path = reveal
	url = https://github.com/hakimel/reveal.js.git
[submodule "stylesheets"]
	path = stylesheets
	url = https://github.com/Delawen/stylesheets.git
